{% extends "base.html" %}
{% load static %}

{% block title_page %}
{{ title_page.capitalize }}
{% endblock %}

{% block breadcrumb %}

    <li class="breadcrumb-item ">
        <a href="">{{ title_page.capitalize }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {% if not object %}
            Crear
        {% else %}
            Edit
        {% endif %}
        {{ title_page.capitalize }}
    </li>
{% endblock %}

{% block content %}
<div class="col-lg-12 col-md-12">
    {% if form.errors %}
    {% for key, value in form.errors.items %}                        
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="true">×</button>
            {{value}}
        </div>
    {% endfor %} 
    {% endif %}
    <div class="card">
        <div class="card-header">
            <div id="smartwizard-3">
                <ul>
                    <li id="one"><a href="#step-10">Perfil Infantil</a></li>
                    <li id="two"><a href="#step-10">Mamá</a></li>
                    <li id="three"><a href="#step-10">Papá</a></li>
                    <li id="four"><a href="#step-11">Composición del núcleo familiar</a></li>
                    <li id="five"><a href="#step-12">Autorizados a recoger</a></li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <form class="row" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" value="{{pk}}" name="child" id="child">
                    {% comment %} {% include 'form_snippet.html' %} {% endcomment %}
                    {% comment %} {{form.as_p}} {% endcomment %}
                    <div class="col-sm-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="form-label">Nombre <span class="text-red">*</span></label>
                            <input required id="id_first_name" name="first_name" value="{{form.first_name.value|default:''}}" type="text" class="form-control" placeholder="Nombre">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="form-label">Apellidos <span class="text-red">*</span></label>
                            <input required id="id_last_name" name="last_name" value="{{form.last_name.value|default:''}}" type="text" class="form-control" placeholder="Apellidos">
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label">NIP <span class="text-red">*</span></label>
                            <input required id="id_nip" value="{{form.nip.value|default:''}}" name="nip" type="text" class="form-control" placeholder="NIP">
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label">Fecha de nacimiento <span class="text-red">*</span></label>
                            <input required id="id_date_birth" value="{{ form.date_birth.value|date:"d/m/Y" }}" name="date_birth" type="date" class="form-control" placeholder="Fecha de nacimiento">
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label">Género <span class="text-red">*</span></label>
                            <select data-placeholder="Select one or more..." id="id_sex" name="sex" class="select2 form-control">
                                <option value="F" {% if form.sex.value == "Femenino" %}selected{% endif %}>Femenino</option>
                                <option value="M" {% if form.sex.value == "Masculino" %}selected{% endif %}>Masculino</option>
                                <option value="O" {% if form.sex.value == "Otro" %}selected{% endif %}>Otro</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-label">Dirección <span class="text-red">*</span></label>
                            <input required id="id_address" value="{{form.address.value|default:''}}" name="address" type="text" class="form-control" placeholder="Dirección">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-label">Teléfono <span class="text-red">*</span></label>
                            <input required id="id_phone" value="{{form.phone.value|default:''}}" name="phone" type="text" class="form-control" placeholder="Teléfono">
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label">Nivel Escolar <span class="text-red">*</span></label>
                            <select data-placeholder="Select one or more..." id="id_school_level" name="school_level" class="select2 form-control">
                                <option value="Primaria" {% if form.school_level.value == "Primaria" %}selected{% endif %}>Primaria</option>
                                <option value="Secundaria" {% if form.school_level.value == "Secundaria" %}selected{% endif %}>Secundaria</option>
                                <option value="Técnica y Profesional" {% if form.school_level.value == "Técnica y Profesional" %}selected{% endif %}>Técnica y Profesional</option>
                                <option value="Medio Superior" {% if form.school_level.value == "Medio Superior" %}selected{% endif %}>Medio Superior</option>
                                <option value="Superior" {% if form.school_level.value == "Superior" %}selected{% endif %}>Superior</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label">Centro laboral <span class="text-red">*</span></label>
                            <input required id="id_work_center" value="{{form.work_center.value|default:''}}" name="work_center" type="text" class="form-control" placeholder="Centro laboral">
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label">Cargo <span class="text-red">*</span></label>
                            <input  required id="id_position" value="{{form.position.value|default:''}}" name="position" type="text" class="form-control" placeholder="Cargo">
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-group">
                            <label class="form-label">Enfermedades que padece</label>
                            <textarea id="id_illnesses" name="illnesses" class="form-control">{{form.illnesses.value|default:''}}</textarea>
                        </div>
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <label class="custom-control custom-checkbox">
                            <input {% if form.alcoholism.value %}checked{% endif %} type="checkbox" class="custom-control-input" name="alcoholism">
                            <span class="custom-control-label">Alcoholismo</span>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input {% if form.smoking.value %}checked{% endif %} type="checkbox" class="custom-control-input" name="smoking">
                            <span class="custom-control-label">Tabaquismo</span>
                        </label>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <button type="submit" onClick="guardarId({{pk}})"  class="btn btn-success waves-effect waves-light m-r-10">Continuar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block jsextra %}

    
    <script src="{% static 'plugins/bootstrap5-typehead/autocomplete.js' %}"></script>
    <script src="{% static 'js/typehead.js' %}"></script>
    <script src="{% static 'plugins/formwizard/jquery.smartWizard.js' %}"></script>
    <script src="{% static 'plugins/formwizard/fromwizard.js' %}"></script>
    <script src="{% static 'plugins/jquery-steps/jquery.steps.min.js' %}"></script>
    <script src="{% static 'plugins/parsleyjs/parsley.min.js' %}"></script>
    <script src="{% static 'js/form-wizard.js' %}"></script>


    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'js/select2.js' %}"></script>
    <script src="{% static 'js/form-validation.js' %}"></script>

    <script src="{% static 'js/formelementadvnced' %}"></script>
    <script src="{% static 'js/form-elements.js' %}"></script>


    <script src="{% static 'plugins/fileuploads/js/fileupload.js' %}"></script>
    <script src="{% static 'plugins/fileuploads/js/file-upload.js' %}"></script>
    <script src="{% static 'plugins/fancyuploder/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'plugins/fancyuploder/jquery.fileupload.js' %}"></script>
    <script src="{% static 'plugins/fancyuploder/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'plugins/fancyuploder/jquery.fancy-fileupload.js' %}"></script>
    <script src="{% static 'plugins/fancyuploder/fancy-uploader.js' %}"></script>

    <script>
        $(document).ready(function() {
            $('#one').removeClass("active");
            $('#two').addClass("active");
        });

        function guardarId(pk){
            if(localStorage.getItem("edit")){   
                $("#child").val(localStorage.getItem("child_id"))
            }else{                        
                localStorage.setItem("child_id",pk)
            }
        }
    </script>

{% endblock %}
