{% extends "base.html" %}
{% load static %}

{% block title_page %}
{{ title_page.capitalize }}
{% endblock %}

{% block breadcrumb %}

    <li class="breadcrumb-item ">
        <a href="">{{ title_page.capitalize }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {% if not object %}
            Crear
        {% else %}
            Edit
        {% endif %}
        {{ title_page.capitalize }}
    </li>
{% endblock %}

{% block content %}
<div class="col-lg-12 col-md-12">
    {% if form.errors %}
    {% for key, value in form.errors.items %}                        
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="true">×</button>
            {{value}}
        </div>
    {% endfor %} 
    {% endif %}
    <div class="card">
        <div class="card-header">
            <div id="smartwizard-3">
                <ul>
                    <li id="one"><a href="#step-10">Perfil Infantil</a></li>
                    <li id="two"><a href="#step-10">Mamá</a></li>
                    <li id="three"><a href="#step-10">Papá</a></li>
                    <li id="four"><a href="#step-11">Composición del núcleo familiar</a></li>
                    <li id="five"><a href="#step-12">Autorizados a recoger</a></li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <div class="row">   
                <div id="div-table" class="col-12">
                    
                </div>
                <form class="row" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" value="" name="child" id="child">
                    {% comment %} {% include 'form_snippet.html' %} {% endcomment %}
                    {% comment %} {{form.as_p}} {% endcomment %}
                    <div class="col-sm-3 col-md-3 col-xl-3">
                        <div class="form-group">
                            <label class="form-label">Nombre</label>
                            <input id="id_first_name" name="first_name" type="text" class="form-control" placeholder="Nombre">
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-xl-3">
                        <div class="form-group">
                            <label class="form-label">Apellidos</label>
                            <input id="id_last_name" name="last_name" type="text" class="form-control" placeholder="Apellidos">
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="form-group">
                            <label class="form-label">Edad</label>
                            <input id="id_age" name="age" type="number" class="form-control" placeholder="Edad">
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="form-group">
                            <label class="form-label">Parentesco</label>
                            <select data-placeholder="Select one or more..." id="id_relationship" name="relationship" class="select2 form-control">
                                <option value="Madre" {% if object.ownership.name == choice.0 %}selected{% endif %}>Madre</option>
                                <option value="Padre" {% if object.ownership.name == choice.0 %}selected{% endif %}>Padre</option>
                                <option value="Hermano/a" {% if object.ownership.name == choice.0 %}selected{% endif %}>Hermano/a</option>
                                <option value="Abuelo/a" {% if object.ownership.name == choice.0 %}selected{% endif %}>Abuelo/a</option>
                                <option value="Otro" {% if object.ownership.name == choice.0 %}selected{% endif %}>Otro</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <button type="button" onClick="saveRelationship()" class="btn btn-info success waves-effect waves-light m-r-10">Agregar otro</button>
                        <button type="submit" onClick="setValueChild()" class="btn btn-success waves-effect waves-light m-r-10">Continuar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block jsextra %}

    
    <script src="{% static 'plugins/bootstrap5-typehead/autocomplete.js' %}"></script>
    <script src="{% static 'js/typehead.js' %}"></script>
    <script src="{% static 'plugins/formwizard/jquery.smartWizard.js' %}"></script>
    <script src="{% static 'plugins/formwizard/fromwizard.js' %}"></script>
    <script src="{% static 'plugins/jquery-steps/jquery.steps.min.js' %}"></script>
    <script src="{% static 'plugins/parsleyjs/parsley.min.js' %}"></script>
    <script src="{% static 'js/form-wizard.js' %}"></script>


    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'js/select2.js' %}"></script>
    <script src="{% static 'js/form-validation.js' %}"></script>

    <script src="{% static 'js/formelementadvnced' %}"></script>
    <script src="{% static 'js/form-elements.js' %}"></script>


    <script src="{% static 'plugins/fileuploads/js/fileupload.js' %}"></script>
    <script src="{% static 'plugins/fileuploads/js/file-upload.js' %}"></script>
    <script src="{% static 'plugins/fancyuploder/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'plugins/fancyuploder/jquery.fileupload.js' %}"></script>
    <script src="{% static 'plugins/fancyuploder/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'plugins/fancyuploder/jquery.fancy-fileupload.js' %}"></script>
    <script src="{% static 'plugins/fancyuploder/fancy-uploader.js' %}"></script>
    
    <script src="{% static 'plugins/notify/js/sample.js' %}"></script>
    <script src="{% static 'plugins/notify/js/notifIt.js' %}"></script>

    <script>
        $(document).ready(function() {
            $('#one').removeClass("active");
            $('#four').addClass("active");
        });

        var cont = 0

        function setValueChild(){
            var child_id = localStorage.getItem("child_id");
            $("#child").val(child_id)
        }

        function saveRelationship(){
            setValueChild()
            first_name = $("#id_first_name").val();
            last_name = $("#id_last_name").val();
            age = $("#id_age").val();
            relationship = $("#id_relationship").val();
            child = localStorage.getItem("child_id");
            if(first_name == "" || last_name == "" || age == "" || relationship == ""){
                notif({
                    msg: "Hay campos en blanco. Revise todos los datos.",
                    type: "error"
                });
            }else{
                $.ajax({
                    type: 'POST',
                    url: "{% url 'core:save-relationship' %}",
                    data: {
                        'relationship': relationship,
                        'first_name': first_name,
                        'last_name': last_name,
                        'age': age,
                        'child': child,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(data) {
                        console.log(data);
                        notif({
                            msg: "Se ha guardado satisfactoriamente.",
                            type: "success"
                        });
                        $("#id_first_name").val(null);
                        $("#id_last_name").val(null);
                        $("#id_age").val("");
                        if(cont == 0){
                            // Agregando nuevos registros a la tabla
                            $("#div-table").html("<table id='file-datatable' class='table table-bordered text-nowrap key-buttons border-top'>\
                                <thead class='table-primary'>\
                                    <tr class='align-middle text-center'>\
                                        <th class='border-bottom-0'>Nombre</th>\
                                        <th class='border-bottom-0'>Apellidos</th>\
                                        <th class='border-bottom-0'>Edad</th>\
                                        <th class='border-bottom-0'>Parentesco</th>\
                                    </tr>\
                                </thead>\
                                <tbody id='body-table'>\
                                </tbody>\
                            </table>")
                            $("#body-table").append("<tr>\
                                <td class='align-middle'>"+ first_name +"</td>\
                                <td class='align-middle'>"+ last_name +"</td>\
                                <td class='align-middle'>"+ age +"</td>\
                                <td class='align-middle'>"+ relationship +"</td>\
                                </tr>")
                            cont++
                        }else{
                            $("#body-table").append("<tr>\
                                <td class='align-middle'>"+ first_name +"</td>\
                                <td class='align-middle'>"+ last_name +"</td>\
                                <td class='align-middle'>"+ age +"</td>\
                                <td class='align-middle'>"+ relationship +"</td>\
                                </tr>")

                        }
                    },
                    error: function(xhr, status, error) {
                        console.log(xhr.responseText);
                        notif({
                            msg: "Ha ocurrido un error.",
                            type: "error"
                        });
                    }
                });
            }    
        }
    </script>

{% endblock %}
