{% extends "base.html" %} {% load static %} {% block title_page %}
{{title_page.capitalize }} {% endblock %} {% block breadcrumb %}

<li class="breadcrumb-item">
  <a href="">Niños</a>
</li>
<li class="breadcrumb-item active" aria-current="page">Listado de Niños</li>
{% endblock %} {% block content %} {% comment %} Modal Image {% endcomment %}
<div class="modal fade" id="modaldemo8">
  <div
    class="modal-dialog modal-xl modal-dialog-centered text-center"
    role="document"
  >
    <div class="modal-content modal-content-demo">
      <div class="modal-body">
        <img id="image-modal" src="" alt="image" class="img-fluid" />
      </div>
    </div>
  </div>
</div>
{% comment %} EndModal {% endcomment %}

<div class="col-lg-12 col-md-12">
  {% if messages %} {% for message in messages %}
  <div class="alert alert-success" role="alert">
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-hidden="true"
    >
      ×
    </button>
    <i class="fa fa-check-circle-o me-2" aria-hidden="true"></i> {{ message }}
  </div>
  {% endfor %} {% endif %}
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Listado de Niños de: {{classg.name}}</h3>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          id="file-datatable"
          class="table table-bordered text-nowrap key-buttons border-top"
        >
          <thead class="table-primary">
            <tr class="align-middle text-center">
              <th class="border-bottom-0">Nombre y Apellidos</th>
              <th class="border-bottom-0">Género</th>
              <th class="border-bottom-0"></th>
            </tr>
          </thead>
          <tbody>
            {% for child in child_list %}
            <tr class="align-middle text-center">
              <td class="align-middle">{{ child }}</td>
              <td class="align-middle">{{ child.sex|default:'' }}</td>
              <td class="align-middle">
                <a
                  id="bDetails"
                  onClick="saveDaily({{child.id}})" 
                  class="btn btn-sm btn-success"
                >
                  <span class="fa fa-check-square-o"> </span>
                </a>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="200">No hay registros.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block jsextra %}

<script src="{% static 'plugins/bootstrap5-typehead/autocomplete.js' %}"></script>
<script src="{% static 'js/typehead.js' %}"></script>

<script src="{% static 'plugins/datatable/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatable/js/dataTables.bootstrap5.js' %}"></script>
<script src="{% static 'plugins/datatable/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatable/js/buttons.bootstrap5.min.js' %}"></script>
<script src="{% static 'plugins/datatable/js/jszip.min.js' %}"></script>
<script src="{% static 'plugins/datatable/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/datatable/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatable/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatable/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatable/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'plugins/datatable/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatable/responsive.bootstrap5.min.js' %}"></script>
<script src="{% static 'js/table-data.js' %}"></script>

<script>
  function setSRC(imgSrc) {
    $("#image-modal").attr("src", imgSrc);
  }
  $(document).ready(function () {});

  function saveDaily(child){
        $.ajax({
            type: 'POST',
            url: "{% url 'core:save_daily_child' %}",
            data: {
                'child': child,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(data) {
                console.log(data);
                notif({
                    msg: "Se ha guardado satisfactoriamente.",
                    type: "success"
                });
            },
            error: function(xhr, status, error) {
                console.log(xhr.responseText);
                notif({
                    msg: "Ha ocurrido un error.",
                    type: "error"
                });
            }
        });
      
}

</script>

{% endblock %}
