{% extends "base.html" %} 
{% load static %} 
{% block title_page %}
Notificaciones
{% endblock %} 
{% block breadcrumb %}

<li class="breadcrumb-item">
  <a href="/catalogo/municipio/?query=1">Notificaciones</a>
</li>
{% endblock %} 
{% block content %}
<div class="col-lg-12 col-md-12">
  <ul class="notification">
    {% for alert in alerts %}
    <li>
        <div class="notification-time">
            <span class="date">{{alert.publish|date:"Y"}}</span>
            <span class="time">{{alert.publish|date:"d/m"}}</span>
        </div>
        <div class="notification-icon">
            <a href="javascript:void(0);"></a>
        </div>
        <div class="notification-time-date mb-2 d-block d-md-none">
            <span class="time ms-2">{{alert.publish|date:"d/m/Y"}}</span>
        </div>
        <div class="notification-body">
            <div class="media mt-0">
              <div class="me-3 notifyimg  bg-primary brround box-shadow-secondary">
                <i class="fe fe-bell"></i>
            </div>
                <div class="media-body ms-3 d-flex">
                    <div class="">
                        <p class="fs-15 text-dark fw-bold mb-0">{{alert.title}}</p>
                        <p class="mb-0 fs-13 text-dark">{{alert.content}}</p>
                    </div>
                </div>
            </div>
        </div>
    </li>
    {% empty %}
    <div class="card border p-0">
        <div class="card-body text-center">
            <p class="card-text">No hay elementos que mostrar.</p>
        </div>
    </div>
    {% endfor %}
</ul>
</div>
{% endblock %} 

{% block jsextra %}

<script src="{% static 'plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'plugins/bootstrap-daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-datepicker/bootstrap-datepicker.js' %}"></script>

<script src="{% static 'js/fullcalendar.min.js' %}"></script>

<script> 
  $(function () { 
      $("#date_custom").datepicker({  
          autoclose: true,  
          todayHighlight: true, 
      }).datepicker('update', new Date()); 
  }); 
</script> 

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var calendarEl = document.getElementById("calendar2");
    calendar = new FullCalendar.Calendar(calendarEl, {
      headerToolbar: {
        left: "prev,next today",
        center: "title",
        right: "dayGridMonth,timeGridWeek,timeGridDay",
      },
      initialView: "dayGridMonth",
      timeZone: "UTC",
      businessHours: true,
      nowIndicator: true,
      now: "{% now 'Y-m-d\TH:i:s' %}",
      eventSources: [
        {
          url: "{% url 'core:get_events' %}",
          method: "GET",
          /*extraParams: {
            custom_param1: 'something',
            custom_param2: 'somethingelse'
          },*/
          failure: function () {
            alert("there was an error while fetching events!");
          },
          textColor: "black",
        },
      ],
      eventClick: function (info) {
        alert(info.event.title);
      },
    });
    calendar.render();
  });

  function fecha(){
    var date_custom = $('#date_custom').val()
    calendar.gotoDate(date_custom);
  }
</script>

{% endblock %}
